@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  border-radius: 0;
  margin: 0;
  color: #fff;
}

.nav li a {
  font-size: 16px;
  text-transform: uppercase;
}

.nav li a:hover {
  background: #555;
  color: #222;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  margin: 0;
  background: #3F67C5;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.55);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /* background: #355DBB; */
  color: #DBDCE8;
}

.active {
  background: #355DBB;
}

.banner {
  background: #345AA2;
  padding: 20px 20px 0 20px;
}

.banner-contact {
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .banner-contact {
    display: none;
  }
}

.logo {
  padding-bottom: 20px;
}

.about {
  background: #E0E0E0;
}

.about-message {
  height: auto;
}

.about-page, .contact-page {
  height: 400px;
  background: #fff;
  margin: 20px 0;
  border-bottom: 5px solid #355DBB;
}

.services-item {
  height: 125px;
  border-bottom: 5px solid #355DBB;
  background: #999;
  margin-right: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

@media screen and (max-width: 990px) {
  .services-item {
    margin-right: 0;
  }
  .services-item:hover h3 {
    margin: 0;
  }
}

.services-item:hover .service-overlay {
  visibility: visible;
}

.services-item h3 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.55);
}

.service-overlay {
  background: rgba(53, 93, 187, 0.68);
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.service-overlay h3 {
  color: white;
  text-align: center;
}

hr {
  border-top: 3px solid white;
  margin: 10px 0;
}

.client-testimonial {
  border: 1px solid #355DBB;
  border-bottom: 5px solid #355DBB;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.client-testimonial h3 {
  text-align: center;
}

.client-testimonial p {
  color: #999;
  font-size: 20px;
  text-align: center;
}

.footer {
  background: #355DBB;
  height: 100px;
  border-top: 2px solid #345AA2;
  margin-top: 20px;
}

.about-message img {
  width: 100%;
  height: 100%;
}

.services-about {
  margin: 20px 0;
  line-height: 28px;
  border-bottom: 5px solid #355DBB;
}

.services-about h3 {
  color: #222;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .services-aside {
    display: none;
  }
}
